body{
background-color: #e5858a;
}
.box{
    width:250px;
    height:360px;
    background-color: red;
    background:rgb(214,214,214);
    background-color: #F67379;
    border-radius:10px;
    box-shadow: 5px 5px 10px #b6a9a9, -5px -5px 10px #eee;
    margin:15% auto;
}
.box form h1{
    text-align: center;
    text-shadow: 3px 3px 5px #b6a9a9;
}
.box input{
    width:220px;
    height:35px;
    background:rgb(214,214,214);
    border:none;
    outline:none;
    border-radius:20px;
    margin:14px 12px;
    padding-left:8px;

}
.box input:hover{
    
    background-color: #39C0F9;
    border-bottom: 4px solid blue;
    border-top:4px solid red;
    opacity:0.9;
    
}
.box button{
    width:210px;
    height:35px;
    background:#58B26D;
    border:none;
    border-radius:10px;
    outline:none;
    box-shadow: 5px 5px 10px black ,-5px 5px 10px #FCD669;
    margin:14px 12px 0px 20px;
    padding-left:8px;
    }
    .box button:hover{
        background-color: #eee;
        border-bottom: 4px solid black;
        border-top:4px solid gold;
        opacity:0.9;
    }
    .box form  a{
        margin: 50px ;
        
        
        text-decoration: none;

    }
    .box form  a:hover{
        border-bottom: 3px solid#eee;
        border-radius:20px;
    }
    @media (max-width:768px){
        .box{
            width:cover;
            background-color: #39C0F9;
        }
        body{
            background-color: #FCD669;
        }
    }
    @media (max-width:768px) and (max-width:2024){
        .box{
            width:70%;
            background-color: #FCD669;
            
        }
        .box input{
            text-align: center;
            float:center;
            margin:50%;
            background-color: lawngreen;

        }
    }
    @media (min-width:1024px){
        .box{
            width:85%;
        }
        body{
            background-color: rgb(255, 169, 212);
        }
    }



